.frog-area{
    /* padding-top: 20px; */
    /* margin: -177px;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: aquamarine;
}

#left-arrow,#right-arrow{
    background-color: #4c4d49;  
    height:10vmin;
    width: 20vmin;
    position: absolute;
}

#left-arrow{
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    left:30vmin;
}

#right-arrow{
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    right:30vmin;

}

.frog-face{
    background-color: #9bcc61;
    border-radius: 43% 47% 42% 44% / 57% 54% 45% 40%  ;
    width:239px ;
    height: 157px;
    position: relative;

}
.frog-lf-eye{
    border: solid 10px #82c345;
    background-color:#fdfbfa;
    height: 67px;
    width:67px;
    left:3vmin;
    top:-4vmin;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: right;

}
.frog-lf-pupil{
 background-color: #010101;
 border-radius: 50%;
 height: 48px;
 width:48px;
 display: flex;
 flex-direction: column;
 justify-content: center;

}
.sparkle1-lf{
    height: 10px;
    width:10px;
    border-radius: 50%;
    background-color:#fdfbfa;
    align-items: bottom;   
    margin-left: 10%;

}
.sparkle2-lf{
    height: 15px;
    width:15px;
    border-radius: 50%;
    background-color:#fdfbfa;
    margin-left: 10%;

}
.sparkle1-rt{
    height: 10px;
    width:10px;
    border-radius: 50%;
    background-color:#fdfbfa;
    margin-left: 10%;

}
.sparkle2-rt{
    height: 15px;
    width:15px;
    border-radius: 50%;
    background-color:#fdfbfa;
    margin-left: 10%;


}

.frog-rt-eye{
    border: solid 10px #82c345;
    background-color:#fdfbfa;
    height: 67px;
    width:67px;
    right: 3vmin;
    top: -4vmin;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: left;
      
   }
   .frog-rt-pupil{
    background-color: #010101;
    border-radius: 50%;
    height: 48px;
    width:48px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  
}
.smile{
    width: 10vmin;
    height: 1vmin;
    background-color: #010101;
    border-radius: 79% 0% 59% 21% /35% 70% 76% 66%;
    position: relative;
    top: 14vmin;
    left: 12vmin;


}
.frog-body{

    border-radius: 41% 46% 42% 43% / 34% 33% 35% 34% ;
    background-color:#9bcc61;
    position: absolute;
    width:119.5px ;
    height:140px;
    bottom: 177px;
    border-bottom:solid #5b9632;
    
}
.leg-area{
    display: flex;
    position: relative;
}
.frog-leg-lf, .frog-leg-rt{
    border-radius: 50%;
    background-color: #6ead3b;
    width: 16vmin;
    height: 9vmin;
    top: 17vmin;
    position: absolute;
   
  
}
.frog-leg-lf{
    left: -32vmin;
    transform: rotate(45deg);

}
.frog-leg-rt{
    right:0vmin;
    transform: rotate(-45deg);
}
.lf-hand, .rt-hand{
    background-color: #81c146;
    position: absolute;
    width: 1vmin;
    height: 7vmin;
   
    


}
.lf-hand{
    transform: rotate(41deg);
    left: -1vmin;
    top: 1vmin;
    border-radius: 0% 145% 121% 20%/20% 48% 35% 0%;
    
}
.rt-hand{
    transform: rotate(137deg);
    right: -1vmin;
    top: 1vmin;
    border-radius: 0% 145% 121% 20%/20% 48% 35% 0%;
}


