
body{
    
height: 100vh;
z-index: 7;
}

header{
    height: 20vmin;
    width: 90vmin;
    padding: 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.container{
    width:50vmin;
    height:10vmin;
    z-index: 1;
}

/* .container,.message,.title{
    width: 50vmin;
    margin: 20%;
    height: 100%;
} */
.title{
    border: solid purple;
  
    font-size: larger;
}
#message{
    border: 2px solid greenyellow;
    font-size: medium;
  
}